data/
raw_data/
processed_data/
logs/
models/
checkpoints/
temp/
old_versions/

*.pt
*.pth
*.h5
*.pkl
*.joblib

*.csv
*.xlsx
!results_summary/**/*.csv
!results_summary/**/*.xlsx

.ipynb_checkpoints/
__pycache__/
.DS_Store
